/*
  --- 01 TYPOGRAPHY 
  Font sizes (px) :
  10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98


  ---02 COLORS
  Primary: 
  backgroud-hover: 
  

  --- Spacing systems (px)
  2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128


*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 62.5%;
  font-family: "Inter", sans-serif;
  background-color: #e7e5e4;
}

.header {
  border-bottom: 1px solid #d4d4d8;
  padding: 12px;
}

.logo {
  font-size: 1.8rem;
  color: #18181b;
  text-align: center;
}

.main-content {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  justify-content: center;
  margin: 3.2rem 2rem;
}

.todo {
  display: flex;
  gap: 0.6rem;
  border: 1px solid #000;
  padding: 1.6rem 1.2rem;
}

.todo-checkbox {
  width: 1.2rem;
  cursor: pointer;
}

.completed {
  text-decoration: line-through;
  color: #a1a1aa;
}

input[type="text"] {
  width: 80%;
  padding: 0.8rem;
  height: 2rem;
  font-family: "Inter", sans-serif;
  font-size: 0.8rem;
  border: none;
  outline: none;
  border-radius: 0;
  border-bottom: 1px solid #000;
  background-color: #e7e5e4;
  /* Add any additional styles as needed */
}

.todo-text {
  margin-right: auto;
}

.todo-text.focused {
  border-bottom: 1px solid #000;
}

.delete-btn {
  color: #666;
  border-style: none;
  font-family: "Inter", sans-serif;
  font-size: 0.8rem;
  background-color: #e7e5e4;
  border: 1px solid #000;
  padding: 0 0.65rem;
  transition: all 0.3s ease-out;
}

.delete-btn:hover {
  background-color: #000;
  color: #fff;
}

.add-task {
  height: 2.4rem;
  border-style: none;
  font-family: "Inter", sans-serif;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 700;
  background-color: #e7e5e4;
  border: 1px solid #000;
  transition: all 0.3s ease-out;
  cursor: pointer;
}

.add-task:hover {
  background-color: #000;
  color: #fff;
}
