@media (min-width: 64em) {
  .welcome-container {
    margin: 8.4rem 24.2rem;
    gap: 2.2rem;
  }

  .welcome-heading {
    font-size: 3.8rem;
  }

  .welcome-info {
    margin-right: 10rem;
  }

  .main-content {
    display: flex;
    flex-direction: column;
    gap: 3.4rem;
    justify-content: center;
    margin: 8.2rem 28.2rem;
  }

  input[type="text"] {
    font-size: 1rem;
  }

  .delete-btn {
    font-size: 0.8rem;
    padding: 0 0.7rem 0.2rem 0.7rem;
    cursor: pointer;
  }

  .footer {
    font-size: 1rem;
  }
}
