/*
  --- 01 TYPOGRAPHY 
  Font sizes (px) :
  10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98


  ---02 COLORS
  Primary: 
  backgroud-hover: 
  

  --- Spacing systems (px)
  2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128


*/

.welcome-container {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  justify-content: center;
  margin: 6.4rem 2rem;
}

.welcome-heading {
  font-size: 2.8rem;
  color: #333;
  letter-spacing: 0.1rem;
}

.welcome-info {
  margin-bottom: 1.2rem;
  font-size: 1rem;
  color: #71717a;
}

.get-started {
  width: 50%;
  height: 2.4rem;
  border-style: none;
  font-family: "Inter", sans-serif;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 700;
  background-color: #e7e5e4;
  border: 1px solid #000;
  transition: all 0.3s ease-out;
  cursor: pointer;
}

.get-started:hover {
  background-color: #000;
  color: #fff;
}

.footer {
  color: #3f3f46;
  text-align: center;
  font-weight: 600;
  padding: 1.2rem;
}
